<!DOCTYPE html>
<html lang="en">
<head>
 	 <title>Welcome</title>
 	 <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
    {{ plot_script_time|indent(4)|safe }}
	{{ plot_script_roc_1 | indent(4) | safe}}
	{{ plot_script_roc_2 | indent(4) | safe}}
	{{ plot_script_m | indent(4) | safe}}
	{{ plot_script_e | indent(4) | safe}}
	{{ plot_script_s | indent(4) | safe}}
	{{ plot_script_o | indent(4) | safe}}
	{{ plot_script_mse | indent(4) | safe}}


</head>

<style>
.jumbotron{
	background-color: #00CC66;
	color: #ffffff
	}

.container-fluid{
	padding: 40px 50px;
	}

table, th, td {
    padding: 5px 3px;

}


.black-border {
	border: 1px solid black;
	padding: 5px 3px;
}

.column-divisor{
	color: #00CC66;
	font-size: 17px;
	font-weight: bold;

}

</style>
<<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">>
	<div class="jumbotron text-center">
		<h1>My <strong>Loan</strong> App</h1>
		<p>Find out more about loans</p>
	</div>
</body>

<style>
.bg-grey{
	background-color: #b2ff7f;

.logo{
	font-size: 200px;
	color: #00CC66
	}
	@media screen and (max-width: 768px){
	.col-sm-4 {
	text-align: center;
	margin: 25px 0;
	}}


</style>


<div id="theproject" class="container-fluid" >
	<div class="row">
		<div class="col-sm-8">
			<h2 class="text-center"> THE PROJECT </h2>
			<p>
				This project has been developed as an exercise to improve my skills in topics I never had the opportunity to use before. <br>
				The tool I used are mostly <a href="https://dashboard.heroku.com">Heroku</a> to develop the app and <a href="https://www.python.org/">Python</a> for the analysis.
			</p>
		</div>
		<div  class="col-sm-4">
			<div  class="col-sm-4">
				<img class="logo" src="static/python.png" alt="Logo" height="100" width="100">
			</div>
			<div  class="col-sm-4">
				<img class="logo" src="static/heroku.png" alt="Logo"  height="100" width="100">
			</div>
			<div  class="col-sm-4">
				<img class="logo" src="static/github.png" alt="Logo"  height="83" width="100">
			</div>
		</div>
	</div>
</div>


<div id="data" class="container-fluid bg-grey ">
	<div class="row">
			<h2 class="text-center">DATA</h2>
			<p>
				The data I used describe the loans which have been requested in the US to peer-to-peer lending company: <a href="https://www.lendingclub.com/">Lending Club</a>. <br>
				Some requests have been accepted while others have been refused. <br><br>
			    <b><h4> My goals<br></h4>
				<ul>
					<li> Classify accepted and refused loan in order to perform predictions for future customer. </li>
					<li> Infer the rate of the accepted loan. </li>
				</ul>
				</b>
				<br>
				<br>
				<h4><b>Raw data</b></h4> <br>
				<ul>
					<li> 2 datasets: accepted (<b>12.3%</b>) and refused (<b>81.7%</b>) loan.</li>
					<li> Accepted loan dataset made of 887'441 rows x 111 columns. (12.3%)<br> Most important columns: </li>
					<ul>
						<li> The total amount requested by the borrower.</li>
						<li> The self-reported annual income provided by the borrower.</li>
						<li> The combined self-reported annual income provided by the co-borrowers during registration.</li>
						<li> Indicates whether the loan is an individual application or a joint application with two co-borrowers. </li>
						<li> Average current balance of all accounts. </li>
						<li> Dti: a ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.</li>
						<li> A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income.</li>
						<li> Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.</li>
						<li> The job title supplied by the Borrower when applying for the loan.</li>
						<li> Loan description provided by the borrower.</li>
						<li> The state provided by the borrower in the loan application.</li>
						<li> The first 3 numbers of the zip code provided by the borrower in the loan application.</li>
						<li> The month which the loan was funded.</li>
						<li> ... </li>
						<li> Interest rate on the loan.</li>
					</ul>
					<li> Refused loan dataset made of 6'309'512 rows x 9 columns. <br> Columns: </li>
					<ul>
						<li> The total amount requested by the borrower.</li>
						<li> The date which the borrower applied.</li>
						<li> The loan title provided by the borrower.</li>
						<li> A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.</li>
						<li> For applications prior to November 5, 2013 the risk score is the borrower's FICO score. For applications after November 5, 2013 the risk score is the borrower's Vantage score.</li>
						<li> The first 3 numbers of the zip code provided by the borrower in the loan application.</li>
						<li> The state provided by the borrower in the loan application.</li>
						<li> Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.</li>
					</ul>
						<li> The available records are from June 2007 to December 2015</li>
						<li> Total of 1.12GB </li>
					</ul>
					<br>
				<h4><b> Data Cleaning</b></h4>
				<ul>
					<li> Homogenize same columns in the two datasets (ex: date 12/03/2007 vs date Mar-07 )</li>
					<li> Filter date to have the same time span.</li>
					<li> Select valid data. </li>
				</ul>
				<br>
				The following pictures represent the <b>percentage of loan issued per state </b>. Clicking on each State you could see how the loan rate in correlated with some features.
				<br>
				{{ plot_div| safe}}
				<br>
				In this picture we can see how the <b>percentage changed over the years in different regions</b>.
				<br>
				{{ plot_div_time| safe}}
			</p>
	</div>
</div>


<div id="model1" class="container-fluid">
	<h2 class="text-center"> MODEL1 </h2>
	<p>
		<div>
		The first model is about <font size="4">predicting the acceptance of a loan</font> given the following features: <br>
		<ul>
			<li> The requested amount.</li>
			<li> Debt to income ratio.</li>
			<li> State. </li>
			<li> Month of request. </li>
			<li> Employment length.</li>
		</ul> <br>
		This is a classification model and the <a href="http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html">Logistic Regression</a> model will be used: <br><br>
		<center><img class="logo" src="static/formulaLogit.gif" alt="Logo"></center><br>
		The Logistic Regression outputs the probability of belonging to a class. If the probability is greater or equal
		than a <i>threshold</i>, the sample will be assigned to class 1 (= Accepted) otherwise to class 0 (=Refused).<br>
		This a problem with highly unbalances class: in the available data only 12.3% of the loan have been accepted.
		<br><br>
		</div>

		<h4> <b>1. Grid search to determine the regularization parameter <i>C</i></b> </h4>
		The <i>C</i> parameter in the Logistic Regression specify the strength of the regularization. Smaller values
		correspond to stronger regularization. In order to predict the acceptance of a rate I look for C values maximizing
		both the f1 and the recall score.
		<ul>
			<li> F1 score: <i>C</i> = 0.02812</li>
			<li> Recall score: <i>C</i> = 0.0001</li>
		</ul>
		<br><br>


		<h4> <b>2. ROC curve analysis to determine the best <i>threshold</i></b></h4>
		<div class="row">
			<div class="col-sm-6">
				<center> <font class="column-divisor">C = 0.0001</font></center>
			</div>
			<div class="col-sm-6">
				<center> <font class="column-divisor"> C = 0.02812</font></center>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<center>{{plot_div_roc_1 | safe}}</center>
			</div>
			<div class="col-sm-6">
				<center>{{plot_div_roc_2 | safe}}</center>
			</div>
		</div>
	<br>
	<br>
		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-6">
					<font class="column-divisor"> Threshold = 0.15 </font>
						<table>
							<tr>
      							<th colspan="4">
								<center>Predicted</center>
								</th>
							</tr>
							<tr>
								<td rowspan="3"> <b>Real</b> </td>
								<td class="black-border">  </td>
								<th class="black-border"> Accepted </th>
								<th class="black-border"> Refused </th>
							</tr>
							<tr >
								<th class="black-border"> Accepted </th>
								<td class="black-border"> 246.093 </td>
								<td class="black-border"> 20.361</td>
							</tr>
							<tr >
								<th class="black-border"> Refused </th>
								<td class="black-border"> 316.063</td>
								<td class="black-border"> 1.422.097</td>
							</tr>
						</table>
						<br>
						<table>
							<tr>
								<td>Recall</td><td>0.924</td>
							</tr>
							<tr>
								<td>F1</td><td>0.595</td>
							</tr>
							<tr>
								<td>Precision</td><td>0.438</td>
							</tr>
							<tr>
								<td>AUC</td><td>0.921</td>
							</tr>
						</table>


				</div>
				<div class="col-sm-6">
					<font class="column-divisor">Threshold = 0.4</font>
						<table>
							<tr>
      							<th colspan="4">
								<center>Predicted</center>
								</th>
							</tr>
							<tr>
								<td rowspan="3"> <b>Real</b> </td>
								<td class="black-border">  </td>
								<th class="black-border"> Accepted </th>
								<th class="black-border"> Refused </th>
							</tr>
							<tr >
								<th class="black-border"> Accepted </th>
								<td class="black-border"> 245.347 </td>
								<td class="black-border"> 21.107</td>
							</tr>
							<tr >
								<th class="black-border"> Refused </th>
								<td class="black-border"> 266.028</td>
								<td class="black-border"> 1.472.132</td>
							</tr>
						</table>
						<br>
						<table>
							<tr>
								<td>Recall</td><td>0.921</td>
							</tr>
							<tr>
								<td>F1</td><td>0.631</td>
							</tr>
							<tr>
								<td>Precision</td><td>0.480</td>
							</tr>
							<tr>
								<td>AUC</td><td>0.921</td>
							</tr>
						</table>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-6">
					<font class="column-divisor">Threshold = 0.15</font>
						<table>
							<tr>
      							<th colspan="4">
								<center>Predicted</center>
								</th>
							</tr>
							<tr>
								<td rowspan="3"> <b>Real</b> </td>
								<td class="black-border">  </td>
								<th class="black-border"> Accepted </th>
								<th class="black-border"> Refused </th>
							</tr>
							<tr >
								<th class="black-border"> Accepted </th>
								<td class="black-border"> 245.463 </td>
								<td class="black-border"> 20.991 </td>
							</tr>
							<tr >
								<th class="black-border"> Refused </th>
								<td class="black-border"> 281.398 </td>
								<td class="black-border"> 1.456.762 </td>
							</tr>
						</table>
						<br>
						<table>
							<tr>
								<td>Recall</td><td>0.921</td>
							</tr>
							<tr>
								<td>F1</td><td>0.619</td>
							</tr>
							<tr>
								<td>Precision</td><td>0.466</td>
							</tr>
							<tr>
								<td>AUC</td><td>0.920</td>
							</tr>
						</table>
				</div>
				<div class="col-sm-6">
					<font class="column-divisor">Threshold = 0.4</font>
						<table>
							<tr>
      							<th colspan="4">
								<center>Predicted</center>
								</th>
							</tr>
							<tr>
								<td rowspan="3"> <b>Real</b> </td>
								<td class="black-border">  </td>
								<th class="black-border"> Accepted </th>
								<th class="black-border"> Refused </th>
							</tr>
							<tr >
								<th class="black-border"> Accepted </th>
								<td class="black-border"> 245.103 </td>
								<td class="black-border"> 21.351 </td>
							</tr>
							<tr >
								<th class="black-border"> Refused </th>
								<td class="black-border"> 258.999 </td>
								<td class="black-border"> 1.479.161 </td>
							</tr>
						</table>
						<br>
						<table>
							<tr>
								<td>Recall</td><td> 0.920 </td>
							</tr>
							<tr>
								<td>F1</td><td> 0.636 </td>
							</tr>
							<tr>
								<td>Precision</td><td> 0.486 </td>
							</tr>
							<tr>
								<td>AUC</td><td> 0.920 </td>
							</tr>
						</table>
				</div>

			</div>
		</div>
		<br><br>

		<h4> <b>3. Results</b> </h4>
		The following graphs represent the value of the coefficient in the Logistic model.
		<br>
		<div class="row">
			<center> <font class="column-divisor">C = 0.0001</font></center>
		</div>
		<br>
		<div class="row">
			<center> {{ plot_div_e| safe}} </center>
		</div>
		<br>
		<div class="row">
			<center> {{ plot_div_m| safe}} </center>
		</div>
		<br>
		<div class="row">
			<center> {{ plot_div_s| safe}} </center>
		</div>
		<br>
		<div class="row">
			<center> {{ plot_div_o| safe}} </center>
		</div>

		<br><br>

	</p>
</div>


<div id="model2" class="container-fluid bg-grey">
	<h2 class="text-center"> MODEL2 </h2>

	Introduzione a 1. cosa voglio predire 2. Che modello usare

	<h4> <b>1. Data Transformation</b> </h4>

	<h4> <b>2. Parameter Tuning</b> </h4>

	<h4> <b>3. Results Comparison</b> </h4>

		<div class="row">
			<center> {{ plot_div_mse| safe}} </center>
		</div>


</div>


<div id="contact" class="container-fluid">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact me if you have some feedbacks!</p>
		<p><span class="glyphicon glyphicon-user"></span> Nina Desgranges</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Via Kock, 1/4, Milan, IT</p>
        <p><span class="glyphicon glyphicon-phone"></span> +39 3460378806</p>
        <p><span class="glyphicon glyphicon-envelope"></span> n.desgranges@reply.it</p>
    </div>
  </div>
</div>


<style>
.navbar {
    margin-bottom: 0;
    background-color: #00CC66;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00CC66 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
</style>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="logo" src="static/logo.png" alt="Logo" height="30" width="84"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#theproject">THE PROJECT</a></li>
        <li><a href="#data">DATA</a></li>
        <li><a href="#model1">MODEL1</a></li>
		  <li><a href="#model2">MODEL2</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>


</html>