<!DOCTYPE html>
<html lang="en">
<head>
 	 <title>Welcome</title>
 	 <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
    {{ plot_script_time|indent(4)|safe }}


</head>

<style>
	.jumbotron{
	background-color: #00CC66;
	color: #ffffff
	}

	.container-fluid{
	padding: 40px 50px;
	}


</style>
<<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">>
	<div class="jumbotron text-center">
		<h1>My <strong>Loan</strong> App</h1>
		<p>Find out more about loans</p>
	</div>
</body>

<style>
	.bg-grey{
	background-color: #b2ff7f;

</style>
<style>
	.logo{
	font-size: 200px;
	color: #00CC66
	}
	@media screen and (max-width: 768px){
	.col-sm-4 {
	text-align: center;
	margin: 25px 0;
	}}
</style>



<div id="theproject" class="container-fluid" >
	<div class="row">
		<div class="col-sm-8">
			<h2 class="text-center"> THE PROJECT </h2>

			<p>
				This project has been developed as an exercise to improve my skills in topics I never had the opportunity to use before. <br>
				The tool I used are mostly <a href="https://dashboard.heroku.com">Heroku</a> to develop the app and <a href="https://www.python.org/">Python</a> for the analysis.

			</p>

			<form action="/index" method="get">
    			<button class="btn btn-default btn-lg" name="map">The Button</button>
			</form>

		</div>
		<div  class="col-sm-4">

			<img class="logo" src="static/logo.png" alt="Logo">
		</div>
	</div>
</div>

<div id="data" class="container-fluid bg-grey ">
	<div class="row">
			<h2 class="text-center">DATA</h2>
			<p>
				The data I used describe the loans which have been requested in the US to peer-to-peer lending company: <a href="https://www.lendingclub.com/">Lending Club</a>. <br>
				Some requests have been accepted while others have been refused. <br><br>
			    <b><h4> My goals<br></h4>
				<ul>
					<li> Classify accepted and refused loan in order to perform predictions for future customer. </li>
					<li> Infer the rate of the accepted loan. </li>
				</ul>
				</b>
				<br><br>
				<h4><b>Row data</b></h4> <br>
				<ul>
			<li> 2 datasets: accepted and refused loan.</li>
			<li> Accepted loan dataset made of 887'441 rows x 111 columns. <br> Most important columns: </li>
			<ul>
				<li> The total amount requested by the borrower.</li>
				<li> The self-reported annual income provided by the borrower.</li>
				<li> The combined self-reported annual income provided by the co-borrowers during registration.</li>
				<li> Indicates whether the loan is an individual application or a joint application with two co-borrowers. </li>
				<li> Average current balance of all accounts. </li>
				<li> Dti: a ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.</li>
				<li> A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income.</li>
				<li> Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.</li>
				<li> The job title supplied by the Borrower when applying for the loan.</li>
				<li> Loan description provided by the borrower.</li>
				<li> The state provided by the borrower in the loan application.</li>
				<li> The first 3 numbers of the zip code provided by the borrower in the loan application.</li>
				<li> The month which the loan was funded.</li>
				<li> ... </li>
				<li> Interest rate on the loan.</li>
				<li></li>
			</ul>
			<li> Refused loan dataset made of 6'309'512 rows x 9 columns. <br> Columns: </li>
			<ul>
				<li> The total amount requested by the borrower.</li>
				<li> The date which the borrower applied.</li>
				<li> The loan title provided by the borrower.</li>
				<li> A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.</li>
				<li> For applications prior to November 5, 2013 the risk score is the borrower's FICO score. For applications after November 5, 2013 the risk score is the borrower's Vantage score.</li>
				<li> The first 3 numbers of the zip code provided by the borrower in the loan application.</li>
				<li> The state provided by the borrower in the loan application.</li>
				<li> Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.</li>
			</ul>
			<li> The available records are from June 2007 to December 2015</li>
			<li> Total of 1.12GB </li>
		</ul>
			<br>

			<h4><b> Data Cleaning</b></h4>
			<ul>
				<li> Homogenize same columns in the two datasets (ex: date 12/03/2007 vs date Mar-07 )</li>
				<li> Filter date to have the same time span.</li>
				<li> Select valid data. </li>
			</ul>
			<br>
			The following pictures represent the <b>percentage of loan issued per state </b>. Clicking on each State you could see how the loan rate in correlated with some features.
			<br>
			{{ plot_div| safe}}
			<br>

			In this picture we can see how the <b>percentage changed over the years in different regions</b>.
			<br>
			{{ plot_div_time| safe}}

			</p>
	</div>


</div>
<div id="model" class="container-fluid">
	<h2 class="text-center"> MODEL </h2>
	Test the model!!
</div>


<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact me if you have some feedbacks!</p>
		<p><span class="glyphicon glyphicon-user"></span> Nina Desgranges</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Via Kock, 1/4, Milan, IT</p>
        <p><span class="glyphicon glyphicon-phone"></span> +39 3460378806</p>
        <p><span class="glyphicon glyphicon-envelope"></span> n.desgranges@reply.it</p>
    </div>
  </div>
</div>

<style>
	.navbar {
    margin-bottom: 0;
    background-color: #00CC66;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00CC66 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
</style>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="logo" src="static/logo.png" alt="Logo" height="30" width="84"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#theproject">THE PROJECT</a></li>
        <li><a href="#data">DATA</a></li>
        <li><a href="#model">MODEL</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>


</html>